<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <a class="navbar-brand" href="#">Paginação Angular 5</a>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Produtos <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <span class="navbar-text">by Daniel Lima </span>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-product></app-product>
    </div>
  </div>
</div>